body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body > footer {background-color: dodgerblue;}

body > header {
    background-color: dodgerblue;
    color: white;}

body > footer > p {
    padding: 16px;
    color: white;
    text-align: center;
}

#logo {
    margin: 0;
    font-family: "Fredoka One" ;
}

nav > ul > li > a {
    color: white;
}
nav > ul {
    list-style: none;
}

body > main > article {
    width: 70%;
    margin: auto;
}

.like-button {
    background-color: transparent;
    border: 1px solid dodgerblue;
}

.share-button {
    background-color: transparent;
    border: 1px solid green;
}